body{
    margin: 0;
}

header{
    height: 150px;
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    position: relative;
}

.logo{
    height: 75px;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.title_container{
    font-family: 'Libre Baskerville', serif;
}

.title{
    font-size: 50px;
}

.author{
    font-size: 20px;
    color: #9F9F9F;
}

.author span{
    color: #6EC7EE;
}

.date{
    color: #9F9F9F;
    font-size: 15px;
}

.photo_container span{
    font-size: 15px;
}

.foto_1{
    height: 500px;
}

.foto_2{
    height: 500px;
}

.personal_font{
    font-size: 22px;
    font-weight: bold;
}

.marked{
    background-color: #FCFF00;
}


table {
    width: 100%;
    border-spacing: 0;
}
.col_1-2{
    width: 25%;
}

.col_3{
    width: 50%;
}

.azure{
    background-color: #B1E5F2;
}

.table_title{
    background-color: #2AA4D9;
    color: white;
    font-size: 22px;
}

#table_font{
    font-size: 20px;
}