body{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

header{
    height: 150px;
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    position: relative;
}

.logo{
    height: 75px;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.title{
    font-size: 50px;
}

.author{
    font-size: 20px;
    color: #9F9F9F;
}

.author span{
    color: #6EC7EE;
}

.date{
    color: #9F9F9F;
    font-size: 15px;
}

.photo_container p{
    font-size: 13px;
}

.foto_1{
    height: 500px;
}

.foto_2{
    height: 500px;
}